@model CheckpointCatalogoFilmes.Models.FilmeViewModel

<div class="pagina-detalhe-filme">
    <img src="@Model.ImagemUrl" alt="Image of @Model.Titulo">
    <div class="infos-filme">
        <h3>@Model.Titulo</h3>
        <p>@Model.Descricao</p>
    </div>
</div>
